/************************************************************************************
*********************Home Page Animate on*******************************************
*************************************************************************************/

@keyframes portfolio-pop-on {
  0%   {
  transform: translateY(150px);
  opacity: 0;
  }
  10% {
  opacity: 1;
  }
  90% {
  transform: translateY(-10px);
  }
}


/************************************************************************************
*********************Xmas Animation Sample*****************************************
*************************************************************************************/

/***************************Animation Button************************/

.animation-trigger {

}

.inline {
  display: inline-block;
  padding-right: 10px;
}

/************************Tags for JavaScript************************/

.hide-element {
  display: none;
}

.show-element {
  display: block;
}

.toggle-animation {
  /*Class of animation to turn on/off with button*/
}

/*************************Animation Steps*************************/

.xmas-wrap {
  position: relative;
  background-color: #ffffff;
  height: 520px;  
}

.animation-on {
  display: inline-block;
  position: absolute;
  background-color: transparent;
}

#a-poster {
  width: 100%;
  padding: 0;
  background-color: #000000;
}

#a-background {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  top: 0;
  left: 0;
  animation-fill-mode: both;
  animation: slide-right 2s;
}

@keyframes slide-right {
  0%   {
  width: 0%;
  }
  100% {
    width: 100%;
  }
}

#a-trees {
  width: 100%;
  height: auto;
  z-index: 2;
  bottom: 0;
  left: 0;
  animation: fade-in 6s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0%   {
  opacity: 0;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .8;
  }
}

#a-circle-one {
  top: 110px;
  left: 50px;
  width: 240px;
  height: 240px;
  border-radius: 240px;
  text-align: center;
  z-index: 4;
  background-color: darkred;
  animation: twist-up 2s;
  animation-delay: 3.8s;
  animation-fill-mode: both;
  }

@keyframes twist-up {
  0%   {
  opacity: 0;
  transform: rotateX(45deg) rotateY(180deg); 
  }
  100% {
    opacity: 1;
  }
}

#a-circle-two {
  top: 175px;
  left: 255px;
  width: 180px;
  height: 180px;
  border-radius: 180px;
  text-align: center;
  z-index: 5;
  background-color: red;
  animation: twist-down 2s;
  animation-delay: 4.5s;
  animation-fill-mode: both;  
}

@keyframes twist-down {
  0%   {
  opacity: 0;
  transform: rotateX(-45deg) rotateY(-180deg); 
  }
  100% {
    opacity: 1;
  }
}

#a-circle-three {
  top: 270px;
  left: 160px;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  text-align: center;
  z-index: 6;
  background-color: #b81919;
  animation: twist-across 2s;
  animation-delay: 5.2s;
  animation-fill-mode: both;  
}

@keyframes twist-across {
  0%   {
  opacity: 0;
  transform: rotateX(-90deg) rotateY(-120deg);
  transform: translateX(-150px) 
  }
  100% {
    opacity: 1;
  }
}

#a-text1 {
  text-align: center;
  line-height: 250px;
  color: #ffffff;
  font-family: "marker felt";
  font-size: 1.5em;
  z-index: 7;
  animation: size-up 1s;
  animation-delay: 5.2s;
  animation-fill-mode: both;
}

#a-text2 {
  text-align: center;
  line-height: 180px;
  color: #ffffff;
  font-family: "marker felt";
  font-size: 1.5em;
  z-index: 7;
  animation: size-up 1s;
  animation-delay: 5.7s;
  animation-fill-mode: both;
}

@keyframes size-up {
  0% {
    transform: scale(.5);
    opacity: 0;  
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}

.square {
  width: 50px;
  height: 50px;
  text-align: center;
  z-index: 3;
  background-color: darkgreen;
}

#a-square-one {
  top: 0px;
  right: 180px;
  animation: squares 3s;
  animation-delay: 6.2s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

#a-square-two {
  top: 60px;
  right: 60px;
  animation: squares 3s;
  animation-delay: 6.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

#a-square-three {
  top: 120px;
  right: 180px;
  animation: squares 3s;
  animation-delay: 6.7s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

#a-square-four {
  top: 180px;
  right: 60px;
  animation: squares 3s;
  animation-delay: 6.9s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

#a-square-five {
  top: 240px;
  right: 180px;
  animation: squares 3s;
  animation-delay: 6.4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

#a-square-six {
  top: 300px;
  right: 60px;
  animation: squares 3s;
  animation-delay: 6.8s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

#a-square-seven {
  top: 360px;
  right: 180px;
  animation: squares 3s;
  animation-delay: 7s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

#a-square-eight {
  top: 420px;
  right: 60px;
  animation: squares 3s;
  animation-delay: 6.3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

#a-square-nine {
  top: 470px;
  right: 180px;
  animation: squares 3s;
  animation-delay: 6.6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes squares {
  0% {
    opacity: 0;
    background-color: darkgreen;  
  }
  25% {
    opacity: 1;
    background-color: darkred;
  }

  50% {
    opacity: 1;
    background-color: darkgreen;
  }

  75% {
    opacity: 1;
    background-color: darkred;
  }
  100% {
    opacity: .1;
    background-color: darkgreen;
  }
}


/************************************************************************************
************************On Sample - Name Animation********************************************
*************************************************************************************/

.name-wrap {
	background-color: thistle;
	padding: 100px 25px;
	text-align: center;
}


.name {
	display: inline-block;
	font-size: 10em;
	padding: 10px;
	font-family: "marker felt";
	margin: auto;
	width: 9%;
}

.name:hover {
	display: inline-block;
	font-size: 10em;
	padding: 10px;
	font-family: "comic sans MS";
	color: indigo;
	text-transform: uppercase;S
}


/************************************************************************************
*********************On Sample - Flipcard********************************************
*************************************************************************************/

.aroma-wrap {
  background-color: #C9C5BA; 
  text-align: center;
}

.aromatherapy-text {
}

.aromatheraphy-button-container {
/*Container for organizing slide down pieces*/
}

.aroma-button {
  display: inline-block;
  position: relative;
  width: 277px;
  height: 50px;
  background-color: #C7EFCF;
  margin: 10px;
  border: 8px solid #b1deba;
  box-shadow: 1px 1px 2px gray;
}

.aroma-b1 {
  /*Class of animation for controling button in JavaScript*/
  z-index: 6;
}

.aroma-b2 {
  /*Class of animation for controling button in JavaScript*/
  z-index: 4;  
}

.aroma-b3 {
  /*Class of animation for controling button in JavaScript*/
  z-index: 2;  
}

.aroma-details {
  display: none;
  position: absolute;
  top: 56px;
  left: 40px;
  width: 200px;
  height: 100px;
  text-align: left;
  background-color: #b1deba;
}

.aroma-exp-1 {
  z-index: 7;
  /*Class of animation for controling what opens in JavaScript*/
}

.aroma-exp-2 {
  z-index: 5;
  /*Class of animation for controling what opens in JavaScript*/
}

.aroma-exp-3 {
  z-index: 3;
  /*Class of animation for controling what opens in JavaScript*/
}

.aroma-flipcard-container {
  /*Container for organizing flipcard pieces*/
}  

.aroma-flipcard {
	display: inline-block;
	background-color: transparent;
	width: 200px;
	height: 200px;
	perspective: 800px;
	align-items: center;
	margin: 10px;
 }

.flipcard-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  box-shadow: 2px 2px 4px;
}


.aroma-flipcard:hover .flipcard-inner {
	transform: rotateY(-180deg);
}

.flipcard-front, .flipcard-back  {
  position: absolute;
  width: 100%;
  height: 60%;
  backface-visibility: hidden;
}

.flipcard-front {
  z-index: 2;
  font-family: "rock salt";
  font-size: 1.3em;
  padding-top: 40%;
  text-align: center;
}

.flipcard-back {
  transform: rotateY(180deg);
  z-index: 1;
  background-color: #CCFFF9;
  padding-top: 15%;
  height: 85%;
}

.color-a {
  background-color: #32908F;
}

.color-b {
  background-color: #0C7489;
}

.color-c {
  background-color: #89909F;
}

.color-d {
  background-color: #538083;
}

.color-e {
  background-color: #B3C2F2;
}

.color-f {
  background-color: #C3ACCE;
}

.color-g {
  background-color: #8A89C0;
}

.color-h {
  background-color: #DFD9E2;
}




/*Color Tests*/
.lightpurple {
  background-color: #e5def8;
  width: 200px;
  height: 200px;
}

.plum {
  background-color: #68185a;
  width: 200px;
  height: 200px;
}

.mediumpink {
  background-color: #C49BBB;
  width: 200px;
  height: 200px;
}

.gray {
  background-color: #424B54;
  width: 200px;
  height: 200px;
}

.lavendergray {
  background-color: #C4B7CB;
  width: 200px;
  height: 200px;
}

/************************************************************************************
*********************Story*****************************************
*************************************************************************************/

.parallax-section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.blueimage {
  background-image: url(../images/samples/photo_Kailua-Kona.jpg);
  background-color: #3295a8;
  height: 700px;

}

.redimage {
  background-image: url(../images/samples/photo_oregon_1.jpg);
  background-color: #a832a2;
  height: 700px;
}

.greenimage {
 background-image: url(../images/samples/photo_palm.jpg);
 background-color: #c9fa5f;
 height: 700px;
}

.break {
  color: #ffffff;
  background-color: #000000;
  height: 200px;
  padding: 25px;
}

.storytext {
  background-color: white;
  opacity: .8;
  position: absolute;
}

.abcdef {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 140px;
  background-color: teal;
  position: absolute;
  bottom: 100px;
  left: 20%;
}

.abcdef:hover {
  border-radius: 0px;
  animation: circlesquare 1s;
  transition: 2s;
  
}

@keyframes circlesquare {
  0%   {
  transform: translateY(0px);
  }
  100% {
  transform: translateY(40px);
  }
}

#test-logo {
  height: 200px;
  overflow: scroll;
}

.logo-animation {
  background-color: black;
  height: 600px;
}

