html {
 height: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif; 
}

p {
  max-width: 960px;
  line-height: 1.4em;
  margin: 0 auto;
  color: #000000; 
}

h1 {
  margin: 0px;
  padding: 10px 25px;
  text-align: center;
  font-family: "rock salt", cursive, sans-serif;
/*  font-size: 1.6em;*/
  color: #68185a; 
  text-shadow: 1px 1px 2px #C49BC4;
  line-height:;
}


h2 {
  margin: 0px;
  padding: 10px 25px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  font-family: "arial black", "Archivo Black", arial, sans-serif;

}

h3 {
  margin: 5px 0px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "arial black", "Archivo Black", arial, sans-serif;
}

img {
  width: 100%;
  height: auto;
  padding: 0px; 
  display: block; 
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

:focus {
    outline-color: #68185A;
  }


/************************************************************************************
************************************Nav Bar******************************************
*************************************************************************************/

.header-bar {
  background-image: url(../images/header_bar.jpg);
  opacity: .7;
  width: 100%;
  height: 124px;
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
  height: 50px;
  z-index: 3;  
  background-color: #000000;
  color: #ffffff;
  text-align: right;
  scroll-behavior: auto;
}


.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-circles {
  display: inline-block;
  float: left;
  margin-left: 10px;
}

.nav-circles:hover {
  opacity: .7;
  transform: scale(1.05);
}

  .nav-k, .nav-v, .nav-e {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 5px -5px;
    line-height: 40px;
    text-align: center;
    font-family: "rock salt", cursive, sans-serif;
    color: #ffffff;
  }

  .nav-k {
    background-color: #68185a;  
  }

  .nav-v {
    background-color: #C49BC4;
  }

  .nav-e {
    background-color: #A2508D; /* #c4b7cb*/
  }


.mobile-menubar {
  display: none;
}

.icon-container {
  display: none;
}


.navbar {
  margin: 0px 15px 0px 0px;
  height: 50px;
}


.nav-link {
  display: inline-block;
  padding: 12px 28px;
  margin: 0px 15px 0px 0px;
  background-color: #000000;
  font-family: "rock salt", cursive, sans-serif;  
  color: #ffffff;
  text-align: center;
  line-height: 25px;
}

.nav-link:hover, .icon-container:hover {
  background-color: #68185a;
  font-size: 1.05em;
}



/*******************************Dropdown************************************/

.dropdown {
  display: inline-block;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 150px;
    z-index: 2;
    width: 185px;
    font-size: .9em;
  }

  .subnav-link {
    display: inline-block;
    margin: 0;
    width: 100%;
    border: .5px solid #000000;  
    padding: 10px;
    background-color: #363E45;
    color: #ffffff;
    text-align: center;
    line-height: 2.7em;
  }

  .subnav-link:hover {
    background-color: #68185a;
    color: #ffffff;
    font-size: 1.1em;
  }

  .selected {
    background-color: #626B78;
    color: #ffffff;
    font-weight: 600;
  }

  .selected:hover {
    background-color: #626B78;
    font-size: 1em;
  }  

/******************************************************************************
*********************************Home******************************************
*******************************************************************************/

.home-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 110vh;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin: 0px
}

  .home-left, .home-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 50px 0;
    flex-basis: 385px;
    flex-grow: 1;
    height: 110vh;
  }

  .home-left {
    background-color: #A2508D;   
  }

      .left-intro, .right-intro {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: space-around;
   
    }

    .home-name {
      max-width: 85%;
      margin: 0 auto;
      padding: 2%;
      color: #e3bac6;
      font-family: "rock salt", cursive, sans-serif;
      font-size: 3em;
      text-align: center;
      text-shadow: 3px 3px 5px #000000;
      animation: portfolio-pop-on .7s;
      transition-timing-function: ease-in;
    }

    .round-image {  
      width: 225px;
      height: 225px;
      border-radius: 225px;
      margin: 10px auto;
      text-align: center;
      box-shadow: 3px 3px 5px #000000;
      animation: portfolio-pop-on .7s;
      display: flex;
      flex-shrink: 1;
    }

    .prof-image {
      width: 225px;
      height: 225px;
      border-radius: 225px;
    }

.home-right {
  background-color: #e3bac6; 
}

  .my-intro {
    width: 70%;
    max-width: 960px;
    line-height: 2em;
    padding: 10px;
    margin: auto;
    animation: portfolio-pop-on .7s;
  }


@keyframes portfolio-pop-on {
  0%   {
  transform: translateY(150px);
  opacity: 0;
  }
  10% {
  opacity: 1;
  }
  90% {
  transform: translateY(-10px);
  }
}
/*******************************************************************************
************************************About***************************************
********************************************************************************/

.about-section {
  min-height: 110vh;
  background-color: #fde8e9;
  padding-top: 30px;
  padding-bottom: 50px;
}


#about-960 {
  margin: 0 auto;
}


#about:target, #samples:target {
  padding-top: 75px;
  margin-top: -75px;
}


#aboutme, #worksamples {
  padding-top: 25px;
}



/*******************************************************************************
*********************************Portfolio/Samples******************************
*******************************************************************************/
.center {
  text-align: center;
}

.samples-section {
  min-height: 110vh;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(54,62,69,1) 25%, rgba(98,107,120,1) 50%, rgba(172,179,190,1) 75%, rgba(255,255,255,1) 100%);
  padding-top: 30px;
}

  .portfolio-container {
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 35px;    
    margin: 0 auto;
    color: #000000;
  }

    .portfolio-type {
      flex-shrink: 1;
      width: 300px;
      height: auto;
      margin: 20px 30px;
      border: .05em solid #000000;
      padding: 40px 20px;
      border-radius: 30px;
      background: rgb(162,80,141);
      background: linear-gradient(135deg, rgba(162,80,141,1) 0%, rgba(227,186,198,1) 50%, rgba(253,233,234,1) 100%);
      box-shadow: 1px 1px 1px 2px rgba(0,0,0,.9), 1px 1px 3px 2px rgba(255,255,255,.75);
      color: #000000;
      font-family: "arial black", "Archivo Black", arial, sans-serif;
      font-size: 1.2em;
      text-align: center;
      text-shadow: 1px 1px 1px #ffffff;  
    }

    .portfolio-type:hover {
      background: rgb(0,0,0);
      background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(104,24,90,1) 33%, rgba(162,80,141,1) 67%, rgba(227,186,198,1) 100%);
      /*transform: scale(1.1);*/
      width: 315px;
      opacity: .7;
    }

 
      .type-image {
        display: inline-block;
        width: 100px;
        padding: 5px;
      }
/********************************************************************************
*********************************End Section*************************************
*********************************************************************************/

.final-section {
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/header_bar.jpg); 
  background-attachment: fixed, scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/*********************************************************************************
*********************************Sample Page**************************************
*********************************************************************************/

.sample-heading {
background: rgb(227,186,198);
background: linear-gradient(180deg, rgba(227,186,198,0.7984943977591037) 0%, rgba(253,232,233,1) 25%, rgba(255,255,255,1) 100%);
padding-bottom: 10px;
padding-top: 25px;
 }   

#webdesign, #design, #animations, #documentation, #writing, #photos {
  padding-top: 25px;
} 

#webdesign:target, #design:target, #animations:target, #documentation:target, #writing:target, #photos:target {
  padding-top: 15px;
  margin-top: -15px;
} 


.horizontalline {
  display: block;
  max-width: 360px;
  margin: 50px auto 0px;
  border: solid 3px #68185a;
  padding: 0px 25px;
  box-shadow: 2px 2px 2px #424b54;
} 


.sample-container-aos {
 /* Extra container to add aos*/
  padding-top: 15px;
}
 
  .sample-text {
    padding: 2px 0px 8px;  
  }

  .animation-container {
    display: block;
    border: .03em solid #000000;
    box-sizing: border-box;
  } 

  .image-flex { /*Container for images */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box; 
    padding: 0px;
  }

      .centered {
        justify-content: center; /* Class for image-flex container */
      }

    .image-flex-alt { /*alt for when next to a stacking container */
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
    }  


    .stacking-container { /*For stacking images next to larger image*/
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: stretch;
      flex-wrap: wrap;
      box-sizing: border-box;
    }

  .sample-image {
    height: auto;
    border: .03em solid #000000;
    margin-bottom: 8px;
    box-sizing: border-box;
    padding: 0px;
    display: block;
  }

   

/*******************Image Sizes (for sample-image)************************/  
 
  .full { 
    width: 100%;
  }

  .half {
    width: 49.5%;
  } 

  .third {
    width: 32.6667%;
  }

  .twothird {
    width: 66.3333%;
  }

  .quarter {
    width: 24.25%;
  }

  .threequarter {
    width: 74.5%;
  } 

  .fifth {
    width: 19.2%;
  } 

  .sixth {
    width: 15%;
  }


/******************************************************************************
*********************Photo Gallery*********************************************
*******************************************************************************/
.gallery {
  position: relative;
  text-align: center;
}

  .gallery-image {
    margin: 10px auto;
    text-align: center;
    box-shadow: 5px 5px 6px #424b54; 
  }

.caption {
  position: absolute;
  z-index: 2;
  font-size: 1em;
  padding: 5px;
  background-color: #ffffff;
  font-weight: bold;
  font-family: "rock salt", cursive, sans-serif;
  box-shadow: 1px 1px 5px #424b54; 
}

  .top {
    top: 60px;
  }

  .bottom {
    bottom: 60px;
  }

  .left {
    left: 75px;
  }

  .right {
    right: 75px;
  }

/********************************************************************************
*********************Bottom Navigation*******************************************
********************************************************************************/
.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
}

  .bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 12%;
    font-size: .8em;
    text-align: center;
  }

  .bottom-active:hover {
    opacity: .7;
    transform: scale(1.05);
  }

  .bottom-image {
    flex-basis: 90px;
    padding: 5px;
  }

  .bottom-selected {
    opacity: .3;
  }

  .test2 {
    text-align: center;
  }


/******************************************************************************
************************************General************************************
*******************************************************************************/
.basic-text {  
  display: block;
  margin: 0 auto;
  padding: 10px 35px;
  line-height: 1.4em;
  max-width: 960px;
}

.bookmark, .bookmark:visited {
  color: #363E45;
  font-weight: bold;
  text-shadow: 0px 1px 0px #626B78; 
}

.bookmark:hover, .bookmark:visited:hover {
  color: #68185a;
  text-decoration: underline;
  font-weight: 750;
  text-shadow: 0px 1px 1px #68185a;
}

@media (hover: none) {
  .bookmark:hover, .bookmark:visited:hover {
    color: #363E45;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 1px 0px #626B78; 
  }

  .bookmark:active, .bookmark:visited:active {
    color: #68185a;
    text-decoration: underline;
    font-weight: 750;
    text-shadow: 0px 1px 1px #68185a;
  }
}


.anchor {
  /*Class for smooth scroll to anchor point*/
}

.hidden {
  visibility: hidden;
  }

.my-button {
  display: inline-block;
  z-index: 5;
  background-color: #C49BC4;
  padding: 10px;
  border: .5px solid #363E45;
  border-radius: 2px;
  margin: 10px 0px;
  width: 160px;
  font-family: "rock salt", cursive, sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  box-shadow: 1px 1px 3px #424b54;
}

.my-button:hover {
  background-color: #68185A;
  color: #ffffff;
  transform: scale(1.1);  
}

@media (hover: none) {
  .my-button:hover {
    background-color: #C49BC4;
    color: #000000;
  }

  .my-button:active {
    background-color: #68185A;
    color: #ffffff;
    transform: scale(1.1);  
  }
}  

.container-960 {  
  display: block;
  max-width: 960px;
  line-height: 1.4em;
  margin: 10px auto;
  padding: 10px 35px 25px 35px;
}


/*For images*/

.image-container {
  display: block;
  margin: 0 auto;
  padding: 10px 35px;
}

.narrow { /*image container type*/
  max-width: 250px;
}

.medium { /*image container type*/
  max-width: 600px;
  min-width: 200px;
}

.wide { /*image container type*/
  max-width: 960px;
}



/***************************************************************************
*******************************Blog Sample**********************************
****************************************************************************/

#blog-title {
  font-family: "arial black", "Archivo Black", arial, sans-serif;
  font-size: 2em;
  text-align: center;
  color: #3f2c47;
  text-shadow: 0px 0px 0px #C49BC4;
  margin-top: 50px;
  padding-top: 50px;
}

.recipe {
  border: 1px dashed #363E45;
  padding: 35px;
  margin: 35px;
  max-width: 910px;
}

.blog-return {
  position: fixed;
  top: 75px;
  left: 15px;
  margin-bottom: 50px;
}

.hide-blog {
  display: none;
}


/*****************************************************************************
**********************************Contact Form********************************
******************************************************************************/
form {
  padding-top: 35px;
}

  form label {
    margin: 10px 5% 5px;
    font-weight: 600;
  }

  input[type=text], textarea {
    display: block;
    padding: 10px;
    margin: 5px 5% 5px;
    width: 90%;
    border: 1px solid #363E45;
  }

  input[type=submit] {
    display: block;
    margin: 35px auto 25px;
    width: 150px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

.contact-page {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: .9em;
  background-image: url(../images/header_bar.jpg); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
}

  .contact-container {
    background-color: #FDE8E9;
    box-shadow: 1px 1px 6px 1px #424b54;
    display: block;
    max-width: 800px;
    line-height: 1.4em;
    margin: 50px auto 50px;
    padding: 50px 35px 25px 35px;
  }

.thanks .contact-page {
  display: block;
  min-height: 100vh;
}



/**************************************************************************
*******************************Footer**************************************
***************************************************************************/
footer {
  padding: 10px;
  background-color: #363E45;
  color: #ffffff;
  text-align: center;
}

.footer-text {
  color: #ffffff;
  font-size: .6em;
  line-height: .8em;
  padding-bottom: 10px;
  vertical-align: middle;
}


.copyright {
  color: #ffffff;
  font-size: .8em;
  line-height: .8em;
  padding-bottom: 10px;
  vertical-align: middle;
}

.footer-text-large {
 /* font-family: "rock salt", cursive, sans-serif;*/
  color: #ffffff;
  font-size: 1em;
  line-height: 1.2em;
  padding: 5px;
  vertical-align: middle;
}

 .my-button.larger {
  width: 200px;
  line-height: 3em;
  font-size: 1.2em;
}

#footer-email {
  height: 40px;
}




/********************************************************************************
*********************Media Query - Width Smaller than 768 ***********************
*********************************************************************************/

@media (max-width: 768px) {

    .final-section {
     display: none;
    }    

}

/*******************************************************************************
***************************Media Query - Width Smaller than 1024 ***************
********************************************************************************/

@media (max-width: 1024px) {

.final-section {
  background-size: contain;
}

    .home-name {
      font-size: 2.8em;
    }

    .round-image {  
      width: 200px;
      height: 200px;
      border-radius: 200px;
    }

    .prof-image {
      width: 200px;
      height: 200px;
      border-radius: 200px;
    }

}


/******************************************************************************
****************Media Query - Shorter than 600 Wider 770***********************
*******************************************************************************/

@media (max-height: 600px) and (min-width: 770px) {
    .header-bar {
      display: none;
    }
 }

/*****************************************************************************
**************************Media Query - Height 400 to 600 ********************
******************************************************************************/

@media (min-height: 401px) and (max-height: 600px) {
    
    .home-name {
      font-size: 2.8em;
    }

    .round-image {  
      width: 200px;
      height: 200px;
      border-radius: 200px;
    }

    .prof-image {
      width: 200px;
      height: 200px;
      border-radius: 200px;
    }

}

/****************************************************************************
********************Media Query - Height Shorter than 400 *******************
*****************************************************************************/

@media (max-height: 400px) {

   .header-bar {
    display: none;
   }

   .home-left, .home-right {
    flex-basis: 100%;
   }

   .round-image {  
      width: 150px;
      height: 150px;
      border-radius: 150px;
    }

    .prof-image {
      width: 150px;
      height: 150px;
      border-radius: 150px;
    }

    .home-name {
      font-size: 2.4em;
    }

    .portfolio-type {
      padding: 15px;
      width: 250px;
    }  

    .type-image {
      width: 100px;
    }      

    .final-section {
     display: none;
    }



}
/*****************************************************************************
**********************Media Query - Width Between 530 and 680 *******************
******************************************************************************/

@media (max-width: 700px) and (min-width: 531px) {
  #home-link {
    display: none;
  }

}

/*****************************************************************************
**********************Media Query - Width Smaller than 875 *******************
******************************************************************************/
@media (max-width: 890px) {

    .contact-page {
      padding: 0px;
      margin: 0px;
    }

    .contact-container {
      margin: 0px;
    }

    .thanks {
      min-height: 100vh;
    }

}


/*****************************************************************************
**********************Media Query - Width Smaller than 570 *******************
******************************************************************************/
@media (max-width: 570px) {

.bottom-nav {
    font-size: 2vw;
  }


.menu-container {
  display: none;
  margin: 0px;
}

.icon-container {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 12.5px 25px;
}

  .menu_icon {
   width: 25px;
   height: 25px;
  }

.top-nav .mobile {
  display: block;
  margin: 0px;
}

.dropdown .mobile {
  display: block;
  margin: 0px;
  width: 100%;
}

.menu-container .mobile {
  display: block;
  position: relative;
  right: 0px;
  margin: 0px;
}


.menu-container.mobile a {
  float: none;
  display: block;
  position: relative;
  }

    .dropdown-content .mobile{
      display: block;
      position: absolute;
      right: 0px;
      z-index: 2;
      width: 80%;
      font-size: .8em;
      margin: 0;
    }

    .nav-link {
    width: 100%;
    margin: 0px;
    border: .5px solid #626B78;
    padding: 10px;
    text-align: left;
    text-indent: 5px;
    }

    .subnav-link {
    width: 100%;
    line-height: 2.2em;
    padding: 8px;
    text-align: left;
    text-indent: 25px;
    }
  
  

/*************Photo Page*********/

  .caption {
  font-size: .8em;
  padding: 4px;
}

  .top {
    top: 50px;
  }

  .bottom {
    bottom: 50px;
  }

  .left {
    left: 35px;
  }

  .right {
    right: 35px;
  }  





}



